services:
  app:
    build: .
    container_name: wallet_app
    ports:
      - "8080:8080"
    depends_on:
      - db
    env_file:
      - config.env
    restart: always

  db:
    image: postgres:16-alpine
    container_name: wallet_db
    restart: always
    env_file:
      - config.env
    ports:
      - "5436:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pg_data: